.productsBase{
    margin-left: 126px;
    overflow-y: auto;
    height: 600px;
}

.productsElements{
    margin-top: 30px;
}
.imageStyle{
    width: 75%;
}
.productName{
    font-size: 15px;
    font-variant: all-small-caps;
}
.productPrice{
    color: darkred;
}