.productsBase{
    margin-left: 126px;
    overflow-y: auto;
    height: 600px;
}

.productsElements{
    margin-top: 30px;
}
.imageStyle{
    width: 75%;
}
.productName{
    font-size: 15px;
    font-variant: all-small-caps;
}
.productPrice{
    color: darkred;
}
.noProducts{
    margin-top: 100px;
    color: red;
    font-size: 30px;
}

@media only screen and (min-width:768px){

.productsBase{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
}

}