.chooseColor{
    text-align: initial;
    float: left;
    border-style: outset;
    height: 260px;
    margin: 12px;
    padding: 10px;
}
.checkbox{
    height: 200px;
    overflow-y: auto;
    font-size: 11px;
}
.checkboxElements{
    display: flex;
}
.colorStyle{
    text-align-last: center;
    color: darkred;

}