li{
    display: inline;
    cursor: pointer;
}
.departmentsItems{
    margin: 4px;
}
.departments{
    padding: 10px;
}
.departmentsBtn{
    border-style: double;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.selectedBtn {
    color: red;
}
