.filtersContainer{
    float: left;
    border-style: ridge;
    width: 130px;
    height: 490px;
    margin-left: 10px;
    margin-top: 30px;
}
.filtersBase{
    margin-top: 12px;
}
.priceRange{
    border-style: outset;
    height: 130px;
    margin: 5px;
}